*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px 20px;
    background-color: rgb(86 133 131)
}

.word-ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;
    flex-wrap: wrap;
    gap: 20px;
}

.word-ul li{
    background-color: beige;
    padding: 5px 10px;
    border-radius: 20px;
}


.selected-word{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    width: 200px;
    background-color: rgb(186, 234, 234);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

#selected-word{
    overflow: auto;
}


.dots{
    visibility: hidden;
    position: absolute;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transition: transform 1s linear;
}

input{
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    margin-left: 5px;
}

button {
    padding: 5px 10px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(125 236 128);
}